<div class="announcement-bar" role="complementary" aria-label="Store announcement">
  🚚 Free shipping on orders $300+&nbsp;&nbsp;|&nbsp;&nbsp;📍 Grand Prairie, TX&nbsp;&nbsp;|&nbsp;&nbsp;📞 <a href="tel:2146771059">(214) 677-1059</a>
</div>
